/* 
    Author     : Liam
*/

*{
    margin: 0;
    padding: 0;
    border: solid 1px;
    /*box-sizing: border-box; padding and border are included in the total width and height of the elements*/

}

/*p, li, h1, h2 , h3, a{
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: normal;

}

p, li {  
    color: rgba(0,0,0,0.8);
    font-size: 1.5vw;
    text-align: justify;
}*/

/*//mobile first*/
#page{
    display: grid;
    width:100%;
    height: 500px;

    /*grid-gap:1em;*/
    /* grid-auto-rows:100px; */
    /*grid-auto-rows: minmax(100px, auto);*/
    grid-template-areas:
        "head"
        "nav"
        "menu"
        "realtime"
        "traffic"
        "weather"
        "cameras"
        "glance"
        "mapAlert"
        "twitter"
        "latest"
        "connectCSG"
        "footer"
        ;
    grid-template-rows: auto;
    grid-template-columns: 1fr;

}


/*@media only screen and (min-width:620px) {
     For mobile phones: 
    .menu, .main, .right {
        width:100%;
    }
}*/

/*//1024 × 768*/ 
@media (min-width: 1024px)  {
    #page{
        display: grid;
        width:100%;
        height:768px ;

        /*grid-gap:1em;*/
        /* grid-auto-rows:100px; */
        /*grid-auto-rows: minmax(100px, auto);*/
        grid-template-areas:
            "head head head"
            "nav nav ."
            "menu realtime realtime"
            "menu traffic traffic"
            "menu weather weather"
            "cameras cameras cameras"
            "glance glance glance"
            "mapAlert mapAlert mapAlert"
            "twitter latest connectCSG"
            "footer footer footer"
            ;
        grid-template-rows: auto auto 100px 100px 100px auto;
        grid-template-columns: 1fr 1fr 1fr;

    }
}
/*netbook resolution of 1280 × 800*/

/*1440 × 900*/
@media (min-width: 1440px)  {
    #page{
        display: grid;
        width:100%;
        height:900px ;

        /*grid-gap:1em;*/
        /* grid-auto-rows:100px; */
        /*grid-auto-rows: minmax(100px, auto);*/
        grid-template-areas:
            "head   head    head    nav    nav"
            
            "menu   traffic weather glance  glance"
            "menu   traffic weather glance  glance"
            "menu   traffic weather glance  glance"
            "menu   traffic twitter glance  glance"
            "menu   latest  twitter  glance  glance"
            "menu   latest  twitter glance  glance"
            "connectCSG cameras cameras mapAlert mapAlert"
            "connectCSG cameras cameras mapAlert mapAlert"   
            "footer  footer footer  footer  footer"
            ".       copyr   copyr   copyr  ."
            
            
            ;
        grid-template-rows: 120px auto;
        grid-template-columns: 2fr 3fr 3fr 2fr 2fr;
        grid-gap: 2px;

    }
}

#page > .analytics{

}

#page > header{
    grid-area: head;
    background-color: crimson;

}
#page > .cameras{
    grid-area: cameras;
    background-color: lightblue;
}
#page > .connectCSG{
    grid-area: connectCSG;
    background-color: chocolate;
}
#page > .copyright{
    grid-area: copyr;
    background-color: #ddd ;
}
#page > footer{
    grid-area: footer;
    background-color: #eee ;

}
#page > .glance{
    grid-area: glance;
    background-color: lightgrey;
}
#page > .latest{
    grid-area: latest;
}
#page > .mapAlerter{
    grid-area: mapAlert;
}
#page > menu{
    grid-area: menu;
     background-color: chartreuse;
}
#page > nav{
    grid-area: nav;
}
#page > .nestedChart1{
    grid-area: nest1;
}
#page > .nestedChart2{
    grid-area: nest2;
}
#page > .nestedChart3{
    grid-area: nest3;
}
#page > .nestedChart4{
    grid-area: nest4;
}
#page > .nestedChart5{
    grid-area: nest5;
}
#page > .nestedChart6{
    grid-area: nest6;
}

#page > .realtime{
    grid-area: rt;
    background-color:  indianred;
}

#page > .traffic{
    grid-area: traffic;
}

#page > .twitter{
    grid-area: twitter;
}


#page > .weather{
    grid-area: weather;
}


/*#page > div:nth-child(odd){
    background-color: lightgrey;
}
/*

page > div:nth-child(even){
    background-color: white;
}*/






