/* 
    Author     : Liam
*/

*{
    margin: 0;
    padding: 0.5vw;


    /*background-color: goldenrod;*/
    /*box-sizing: border-box; padding and border are included in the total width and height of the elements*/
    border: solid 2px #e5e5e5;

}

/*p, li, h1, h2 , h3, a{
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: normal;

}

p, li {  
    color: rgba(0,0,0,0.8);
    font-size: 1.5vw;
    text-align: justify;
}*/

/*//mobile first*/
#page{
    display: grid;
    width:100%;
    height: 1000px;
    border: none;

    /*grid-gap:1em;*/
    /* grid-auto-rows:100px; */
    /*grid-auto-rows: minmax(100px, auto);*/
    grid-template-areas:
        "head"
        "nav"
        "sidebar"
        "rt"
        "mapAlert"
        "glance"
        "connectCSG"
        "footer"
        "copyr"
        ;
    grid-template-rows: auto;
    grid-template-columns: 1fr;


}
#page > .realtime {
    display: grid;
    align-content: space-between;
    grid-template-areas:
        "."
        "weather"
        "traffic"
        "cameras"
        "twitter"
        "latest"

        ;      
    grid-template-columns: 1fr; 
    grid-area: rt;


    /*    background-color:  indianred;*/
}


#page > .glance {
    display: grid;
    align-content: space-between;
    grid-template-areas:
        "."
        "chart1"
        "chart2"
        "chart3"
        "chart4"
        ;      
    grid-template-columns: 1fr; 
    grid-area: glance;


    /*    background-color:  indianred;*/
}

/*420*/
@media screen and (min-width: 420px)  {
    #page{
        display: grid;
        width:100%;
        height: 1200px;

        /*        grid-gap:1em;
                 
                grid-auto-rows:100px; 
                grid-auto-rows: minmax(100px, auto);*/
        grid-template-areas:
            "head       head"        
            "head       head"
            "nav        nav"
            "sidebar    sidebar"
            "sidebar    sidebar"
            "rt rt"
            "rt rt"
            "rt rt"
            "rt rt"
            "glance      glance "
            "glance      glance "
            "glance      glance "
            ". connectCSG"
            "mapAlert   mapAlert"
            "mapAlert   mapAlert"
            "footer     footer"
            "copyr      copyr"
            ;
        grid-template-rows: repeat(17, 1fr);
        grid-template-columns: 1fr 1fr;
        grid-gap: 2px;

    }

    #page > .realtime {
        display: grid;
        align-content: space-between;
        grid-template-areas:
            ". ."
            "weather traffic"
            "weather traffic"
            "cameras cameras"
            "twitter latest"
            "twitter latest"
            ;      
        grid-template-columns: 1fr 1fr; 
        grid-area: rt;


        /*    background-color:  indianred;*/
    }




}   


/*800 × 600*/
@media screen and (min-width: 800px)  {
    #page{
        display: grid;
        width:100%;
        height:1000px ;

        /*grid-gap:1em;*/
        /* grid-auto-rows:100px; */
        /*grid-auto-rows: minmax(100px, auto);*/
        grid-template-areas:
            "head       head        nav"
            "sidebar    rt      rt"
            "sidebar    rt      rt"
            "sidebar    rt      rt"
            "sidebar    rt      rt"
            "sidebar    rt      rt"
            "sidebar    rt      rt"
            "sidebar    rt      rt"
            "connectCSG glance      glance "
            "connectCSG glance      glance "
            "mapAlert   glance      glance "      
            "mapAlert   glance      glance"
            "mapAlert   glance      glance"  
            "mapAlert   glance      glance"
            "footer     footer      footer  "
            "copyr      copyr       copyr"
            ;
        grid-template-rows: 120px repeat(12, 1fr);
        grid-template-columns: 2fr 3fr 3fr;
        grid-gap: 2px;

    }
    #page > .realtime {
        display: grid;
        align-content: space-between;
        grid-template-areas:
            ". ."
            "weather traffic"
            "weather traffic"
            "cameras cameras"
            "twitter latest"
            "twitter latest"
            ;      
        grid-template-columns: 1fr 1fr; 
        grid-area: rt;


        /*    background-color:  indianred;*/
    }
    #page > .glance {
        display: grid;
        align-content: space-between;
        grid-template-areas:
            ". ."
            "chart1 chart2"
            "chart3 chart4"
            ;      
        grid-template-columns: 1fr 1fr; 
        grid-area: glance;

        /*    background-color:  indianred;*/
    }

}
/*1024 × 768*/
/*netbook resolution of 1280 × 800*/
/*1440 × 900*/
@media screen and (min-width: 1280px)  {
    #page{
        display: grid;
        width:100%;
        height:1000px ;

        /*grid-gap:1em;*/
        /* grid-auto-rows:100px; */
        /*grid-auto-rows: minmax(100px, auto);*/
        grid-template-areas:
            "head   head    head    nav    nav"
            "sidebar   rt   rt glance  glance"
            "sidebar   rt   rt glance  glance"
            "sidebar   rt   rt glance  glance"
            "sidebar   rt   rt glance  glance"
            "sidebar   rt   rt  glance  glance"
            "sidebar   rt   rt glance  glance"
            "sidebar rt   rt glance glance"
            "connectCSG rt   rt mapAlert mapAlert"  
            "connectCSG rt   rt mapAlert mapAlert"
            "footer  footer footer  footer  footer"
            ".       copyr   copyr   copyr  ."


            ;
        grid-template-rows: 120px repeat(9, 1fr) 80px 40px;
        grid-template-columns: 2fr 3fr 3fr 2fr 2fr;
        grid-gap: 2px;

    }
    #page > .realtime {
        display: grid;
        align-content: space-between;
        grid-template-areas:
            ". ."
            "weather traffic"
            "weather traffic"
            "cameras cameras"
            "twitter latest"
            "twitter latest"
            ;      
        grid-template-columns: 1fr 1fr; 
        grid-area: rt;


        /*    background-color:  indianred;*/
    }
}

#page > .analytics{

}


#page > .connectCSG{
    grid-area: connectCSG;
    /*background-color: chocolate;*/
}
#page > .copyright{
    grid-area: copyr;
    /*    background-color: #ddd ;*/
}
#page > footer{
    grid-area: footer;
    /*background-color: #eee ;*/
}

#page > header{
    grid-area: head;
    /*    background-color: crimson;*/

}
#page > .sidebar{
    grid-area: sidebar;
    /*background-color: chartreuse;*/
}
#page > nav{
    grid-area: nav;
}
/*/nested chart.js charts*/

#page > .glance .chart1{
    grid-area: chart1;
}
#page > .glance .chart2{
    grid-area: chart2;
}
#page > .glance .chart3{
    grid-area: chart3;
}
#page > .glance .chart4{
    grid-area: chart4;
}
#page > .glance .chart5{
    grid-area: chart5;
}
#page > .glance .chart6{
    grid-area: chart6;
}


#page > .realtime .latest{
    grid-area: latest;
}

#page > .mapAlerter{
    grid-area: mapAlert;
}

#page > .realtime .traffic{
    grid-area: traffic;
}

#page > .realtime .twitter{
    grid-area: twitter;
}

#page > .realtime .cameras{
    grid-area: cameras;
    /*background-color: lightblue;*/
}

#page > .realtime .weather{
    grid-area: weather;
}


/*#page > div:nth-child(odd){
    background-color: lightgrey;
}
/*

page > div:nth-child(even){
    background-color: white;
}*/






